
<tr>

  <td>{{ table['the_date'] }}</td>
  <td>{{ table['close'] }}</td>
  <td>{{ table['amount'] }}</td>
  <td>{{ table['vol'] }}</td>

  <td>{{ table['ma3_close_avg'] }}</td>
  <td>{{ table['ma3_close_avg_chg'] }}%</td>
  <td>{{ table['ma3_close_avg_chg_avg'] }}%</td>

  <td>{{ table['ma3_amount_avg'] }}</td>
  <td>{{ table['ma3_amount_avg_chg'] }}%</td>
  <td>{{ table['ma3_amount_avg_chg_avg'] }}%</td>

  <td>{{ table['ma3_vol_avg'] }}</td>
  <td>{{ table['ma3_vol_avg_chg'] }}%</td>
  <td>{{ table['ma3_vol_avg_chg_avg'] }}%</td>

  <td>{{ table['ma3_price_avg'] }}</td>
  <td>{{ table['ma3_price_avg_chg'] }}%</td>
  <td>{{ table['ma3_price_avg_chg_avg'] }}%</td>

  <td>{{ table['ma3_amount_flow_chg'] }}%</td>
  <td>{{ table['ma3_amount_flow_chg_avg'] }}%</td>

  <td>{{ table['ma3_vol_flow_chg'] }}%</td>
  <td>{{ table['ma3_vol_flow_chg_avg'] }}%</td>

  <td>{{ table['ma5_close_avg'] }}</td>
  <td>{{ table['ma5_close_avg_chg'] }}%</td>
  <td>{{ table['ma5_close_avg_chg_avg'] }}%</td>

  <td>{{ table['ma5_amount_avg'] }}</td>
  <td>{{ table['ma5_amount_avg_chg'] }}%</td>
  <td>{{ table['ma5_amount_avg_chg_avg'] }}%</td>

  <td>{{ table['ma5_vol_avg'] }}</td>
  <td>{{ table['ma5_vol_avg_chg'] }}%</td>
  <td>{{ table['ma5_vol_avg_chg_avg'] }}%</td>

  <td>{{ table['ma5_price_avg'] }}</td>
  <td>{{ table['ma5_price_avg_chg'] }}%</td>
  <td>{{ table['ma5_price_avg_chg_avg'] }}%</td>

  <td>{{ table['ma5_amount_flow_chg'] }}%</td>
  <td>{{ table['ma5_amount_flow_chg_avg'] }}%</td>

  <td>{{ table['ma5_vol_flow_chg'] }}%</td>
  <td>{{ table['ma5_vol_flow_chg_avg'] }}%</td>

  <td>{{ table['ma10_close_avg'] }}</td>
  <td>{{ table['ma10_close_avg_chg'] }}%</td>
  <td>{{ table['ma10_close_avg_chg_avg'] }}%</td>

  <td>{{ table['ma10_amount_avg'] }}</td>
  <td>{{ table['ma10_amount_avg_chg'] }}%</td>
  <td>{{ table['ma10_amount_avg_chg_avg'] }}%</td>

  <td>{{ table['ma10_vol_avg'] }}</td>
  <td>{{ table['ma10_vol_avg_chg'] }}%</td>
  <td>{{ table['ma10_vol_avg_chg_avg'] }}%</td>

  <td>{{ table['ma10_price_avg'] }}</td>
  <td>{{ table['ma10_price_avg_chg'] }}%</td>
  <td>{{ table['ma10_price_avg_chg_avg'] }}%</td>

  <td>{{ table['ma10_amount_flow_chg'] }}%</td>
  <td>{{ table['ma10_amount_flow_chg_avg'] }}%</td>
  <td>{{ table['ma10_vol_flow_chg'] }}%</td>
  <td>{{ table['ma10_vol_flow_chg_avg'] }}%</td>
</tr>
