
<tr>
  <td class="{{ table[0][1] }}">{{ table[0][0] }}</td>
  <td class="{{ table[1][1] }}">{{ table[1][0] }}</td>
  <td class="{{ table[2][1] }}">{{ table[2][0] }}</td>
  <td class="{{ table[3][1] }}">{{ table[3][0] }}</td>

  <td class="{{ table[4][1] }}">{{ table[4][0] }}</td>
  <td class="{{ table[5][1] }}">{{ table[5][0] }}%</td>
  <td class="{{ table[6][1] }}">{{ table[6][0] }}%</td>

  <td class="{{ table[7][1] }}">{{ table[7][0] }}</td>
  <td class="{{ table[8][1] }}">{{ table[8][0] }}%</td>
  <td class="{{ table[9][1] }}">{{ table[9][0] }}%</td>

  <td class="{{ table[10][1] }}">{{ table[10][0] }}</td>
  <td class="{{ table[11][1] }}">{{ table[11][0] }}%</td>
  <td class="{{ table[12][1] }}">{{ table[12][0] }}%</td>

  <td class="{{ table[13][1] }}">{{ table[13][0] }}</td>
  <td class="{{ table[14][1] }}">{{ table[14][0] }}%</td>
  <td class="{{ table[15][1] }}">{{ table[15][0] }}%</td>

  <td class="{{ table[16][1] }}">{{ table[16][0] }}</td>
  <td class="{{ table[17][1] }}">{{ table[17][0] }}</td>

  <td class="{{ table[18][1] }}">{{ table[18][0] }}</td>
  <td class="{{ table[19][1] }}">{{ table[19][0] }}</td>


  <td class="{{ table[20][1] }}">{{ table[20][0] }}</td>
  <td class="{{ table[21][1] }}">{{ table[21][0] }}%</td>
  <td class="{{ table[22][1] }}">{{ table[22][0] }}%</td>

  <td class="{{ table[23][1] }}">{{ table[23][0] }}</td>
  <td class="{{ table[24][1] }}">{{ table[24][0] }}%</td>
  <td class="{{ table[25][1] }}">{{ table[25][0] }}%</td>

  <td class="{{ table[26][1] }}">{{ table[26][0] }}</td>
  <td class="{{ table[27][1] }}">{{ table[27][0] }}%</td>
  <td class="{{ table[28][1] }}">{{ table[28][0] }}%</td>

  <td class="{{ table[29][1] }}">{{ table[29][0] }}</td>
  <td class="{{ table[30][1] }}">{{ table[30][0] }}%</td>
  <td class="{{ table[31][1] }}">{{ table[31][0] }}%</td>

  <td class="{{ table[32][1] }}">{{ table[32][0] }}</td>
  <td class="{{ table[33][1] }}">{{ table[33][0] }}</td>

  <td class="{{ table[34][1] }}">{{ table[34][0] }}</td>
  <td class="{{ table[35][1] }}">{{ table[35][0] }}</td>


  <td class="{{ table[36][1] }}">{{ table[36][0] }}</td>
  <td class="{{ table[37][1] }}">{{ table[37][0] }}%</td>
  <td class="{{ table[38][1] }}">{{ table[38][0] }}%</td>

  <td class="{{ table[39][1] }}">{{ table[39][0] }}</td>
  <td class="{{ table[40][1] }}">{{ table[40][0] }}%</td>
  <td class="{{ table[41][1] }}">{{ table[41][0] }}%</td>

  <td class="{{ table[42][1] }}">{{ table[42][0] }}</td>
  <td class="{{ table[43][1] }}">{{ table[43][0] }}%</td>
  <td class="{{ table[44][1] }}">{{ table[44][0] }}%</td>

  <td class="{{ table[45][1] }}">{{ table[45][0] }}</td>
  <td class="{{ table[46][1] }}">{{ table[46][0] }}%</td>
  <td class="{{ table[47][1] }}">{{ table[47][0] }}%</td>

  <td class="{{ table[48][1] }}">{{ table[48][0] }}</td>
  <td class="{{ table[49][1] }}">{{ table[49][0] }}</td>

  <td class="{{ table[50][1] }}">{{ table[50][0] }}</td>
  <td class="{{ table[51][1] }}">{{ table[51][0] }}</td>
</tr>
