<div style="color:red">
    <label data-file-width="200px">更新时间{{ update_date }}</label>
    <label>{{ security_info[0] }}</label>
    <label>{{ security_info[1] }}</label>
</div>
<table class="table table-bordered table-condensed table-responsive">
    <thead>
    <tr>
        <td>日期</td>
        <td>开盘</td>
        <td>最高</td>
        <td>最低</td>
        <td>收盘</td>

        <td>升跌%</td>
        <td>收盘/日均价</td>
        <td>收盘/10日均</td>

        <td>交易量(股)</td>
        <td>交易金额(元)</td>
        <td>钱流</td>
        <td>日均价</td>
        <td>升跌%</td>

        <td>3天均</td>
        <td>升跌%</td>

        <td>5天均</td>
        <td>升跌%</td>

        <td>10天均</td>
        <td>升跌%</td>
        <td>升跌均10天</td>
        <td>周几</td>
    </tr>
    </thead>
    <tbody>
        {% for item_list in table %}
        <tr>
            <td class="{{ item_list[0][1] }}">{{ item_list[0][0] }}</td>
            <td class="{{ item_list[1][1] }}">{{ item_list[1][0] }}</td>
            <td class="{{ item_list[2][1] }}">{{ item_list[2][0] }}</td>
            <td class="{{ item_list[3][1] }}">{{ item_list[3][0] }}</td>
            <td class="{{ item_list[4][1] }}">{{ item_list[4][0] }}</td>

            <td class="{{ item_list[5][1] }}">{{ item_list[5][0] }}%</td>
            <td class="{{ item_list[6][1] }}">{{ item_list[6][0] }}%</td>
            <td class="{{ item_list[7][1] }}">{{ item_list[7][0] }}%</td>

            <td class="{{ item_list[8][1] }}">{{ item_list[8][0] }}</td>
            <td class="{{ item_list[9][1] }}">{{ item_list[9][0] }}</td>
            <td class="{{ item_list[10][1] }}">{{ item_list[10][0] }}</td>
            <td class="{{ item_list[11][1] }}">{{ item_list[11][0] }}</td>
            <td class="{{ item_list[12][1] }}">{{ item_list[12][0] }}%</td>

            <td class="{{ item_list[13][1] }}">{{ item_list[13][0] }}</td>
            <td class="{{ item_list[14][1] }}">{{ item_list[14][0] }}%</td>

            <td class="{{ item_list[15][1] }}">{{ item_list[15][0] }}</td>
            <td class="{{ item_list[16][1] }}">{{ item_list[16][0] }}%</td>

            <td class="{{ item_list[17][1] }}">{{ item_list[17][0] }}</td>
            <td class="{{ item_list[18][1] }}">{{ item_list[18][0] }}%</td>
            <td class="{{ item_list[19][1] }}">{{ item_list[19][0] }}%</td>
            <td class="{{ item_list[20][1] }}">{{ item_list[20][0] }}</td>
        </tr>
        {% end %}
    </tbody>
</table>

