{% for item_list in table %}
<tr>
    <td class="{{ item_list[0][1] }}">{{ item_list[0][0] }}</td>
    <td class="{{ item_list[18][1] }}">{{ item_list[18][0] }}</td>
    <td class="{{ item_list[1][1] }}">{{ item_list[1][0] }}</td>

    <td class="{{ item_list[2][1] }}">{{ item_list[2][0] }}</td>
    <td class="{{ item_list[3][1] }}">{{ item_list[3][0] }}%</td>

    <td class="{{ item_list[4][1] }}">{{ item_list[4][0] }}</td>
    <td class="{{ item_list[5][1] }}">{{ item_list[5][0] }}%</td>

    <td class="{{ item_list[6][1] }}">{{ item_list[6][0] }}</td>
    <td class="{{ item_list[7][1] }}">{{ item_list[7][0] }}%</td>
    <td class="{{ item_list[8][1] }}">{{ item_list[8][0] }}%</td>

    <td class="{{ item_list[9][1] }}">{{ item_list[9][0] }}</td>
    <td class="{{ item_list[10][1] }}">{{ item_list[10][0] }}%</td>
    <td class="{{ item_list[11][1] }}">{{ item_list[11][0] }}%</td>

    <td class="{{ item_list[12][1] }}">{{ item_list[12][0] }}</td>
    <td class="{{ item_list[13][1] }}">{{ item_list[13][0] }}%</td>

    <td class="{{ item_list[14][1] }}">{{ item_list[14][0] }}</td>
    <td class="{{ item_list[15][1] }}">{{ item_list[15][0] }}%</td>
    <td class="{{ item_list[16][1] }}">{{ item_list[16][0] }}%</td>

    <td class="{{ item_list[17][1] }}">{{ item_list[17][0] }}</td>

</tr>
{% end %}