<!DOCTYPE html>
<html>
<head>
    <title>值得买？</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/bootstrap-datetimepicker.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/signin.css') }}">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ static_url('js/jquery.min.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ static_url('js/bootstrap.min.js') }}"></script>
    <script src="{{ static_url('js/bootstrap.min.js') }}"></script>
    <script src="{{ static_url('js/moment-with-locales.min.js') }}"></script>
    <script src="{{ static_url('js/bootstrap-datetimepicker.min.js') }}"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="{{ static_url('js/tquant_utils.js') }}"></script>
    <script type="text/javascript">
        $(function(){

            $('.date').datetimepicker({
                format: 'YYYY-MM-DD'
            });
        });

        function add(){
            var number = $('#number').val();
            number = parseInt(number) + 1;
            $('#number').val(number);
            var url = "/table2";
            $.ajax({
                url: url,
                type: 'post',
                data: {'table': number},
                dataType: 'text',
                success: function(data){
                    console.log('data:' + data);
                    $('#table').append(data);
                }
            });
        }

        function duang(){
            var security_code = $('#security_code').val()
            var start_date = $('#start_date').val();
            var end_date = $('#end_date').val();
            console.log(security_code);
            console.log(start_date);
            console.log(end_date);
            var url = "/table2";
            $.ajax({
                url: url,
                type: 'post',
                data: {
                    'security_code': security_code,
                    'start_date': start_date,
                    'end_date': end_date
                },
                dataType: 'text',
                success: function(data){
                    console.log('data:' + data);
                    $('#table').html('')
                    if(data != ''){
                        $('#table').append(data);
                    }
                    else{
                        $('#table').append('没有数据');
                    }
                }
            });
        }
    </script>
</head>
    <body>
        <div class="form-group">
            <label class="sr-only" for="name">股票代码</label>
            <input type="text" class="form-control" id="security_code"
                   placeholder="请输入股票代码">
        </div>
        <div class="form-group">
            <label class="sr-only" for="name">开始时间</label>
            <input type="text" readonly class="form_datetime date" id="start_date"
                   placeholder="请输入开始时间" value="{{ start_date }}">
        </div>
        <div class="form-group">
            <label class="sr-only" for="name">结束时间</label>
            <input type="text" class="form-control date" id="end_date"
                   placeholder="请输入结束时间" value="{{end_date}}">
        </div>
        <button class="btn btn-default" onclick="duang()">Duang</button>

        <table class="table table-bordered" id="table"></table>
    </body>

</html>