<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>值得买</title>
	<link rel="stylesheet" type="text/css" href="{{ static_url('easyui/themes/default/easyui.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ static_url('easyui/themes/icon.css') }}">
	<script type="text/javascript" src="{{ static_url('easyui/js/jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ static_url('easyui/js/jquery.easyui.min.js') }}"></script>
	<!-- 股票历史K线图相关js -->
	<script src="{{ static_url('js/echarts.js') }}"></script>
	<script type="text/javascript" src="{{ static_url('js/inflection.point.js') }}"></script>

	<script type="text/javascript">
		var security_name = '';
		$(function(){
			interval_codes_reload = window.setInterval("inflection_point_grid_query()", 4*60*1000);
			inflection_point_grid_query();
		});

	</script>
</head>
<body>
	<div class="easyui-tabs" style="width: 100%; height: 635px; align: center">
		<div title="分析拐点" id="inflection_point">
			<div class="easyui-layout" style="width: 100%; height: 100%">
				<div id="inflection_stock_codes" data-options="region: 'east', split: true" title="East" style="width: 11%;">
					<table class="easyui-datagrid" title="筛选股票" style="width: 100%; height: 100%;"
							data-options="remoteSort:false, rownumbers:true, singleSelect:true,
							url:'/inflection_point_get', method:'get'">
						<thead>
							<tr>
								<th data-options="field:'security_code', align:'center', formatter:formatToButton">股票代码</th>
								<th data-options="field:'security_name', align:'center'">股票名称</th>
							</tr>
						</thead>
					</table>

				</div>
				<div data-options="region: 'center', split: true" title="Center">
					<div id="inflection_tools">
						<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" onclick="inflection_changesize(20)">近20日</a>
						<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" onclick="inflection_changesize(30)">近30日</a>
						<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" onclick="inflection_changesize(40)">近40日</a>
						<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" onclick="inflection_changesize(50)">近50日</a>
						<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" onclick="inflection_changesize(70)">近70日</a>
						<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" onclick="inflection_changesize(100)">近100日</a>
						<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" onclick="inflection_changesize(150)">近150日</a>
						<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" onclick="inflection_changesize(200)">近200日</a>
						<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" onclick="inflection_changesize(250)">近250日</a>
						<label id="show_stock_info" style="width: 20px; color: red; font-weight: bold;"></label>
                        <label id="interval_time" style="width: 20px; color: blue; font-weight: bold;"></label>
					</div>
					<input type="hidden" id="inflection_security_code">
					<input type="hidden" id="inflection_size" value="20">
					<table id="inflection_point_grid" class="easyui-datagrid" title="分析拐点" style="width: 100%; height: 100%;"
							data-options="remoteSort:false, rownumbers:true, singleSelect:true,
							url:'/inflection_point_post', method:'post', toolbar:'#inflection_tools'">
						<thead>
							<tr>
								<!--
								'the_date',
								 'amount',
								 'vol', 'open', 'high', 'low', 'close',
								 'vol_chg', 'close_chg', 'close_open_chg',
								 'price_avg', 'price_avg_chg', 'close_price_avg_chg',
								 'price_avg_3', 'price_avg_chg_3',
								 'price_avg_5', 'price_avg_chg_5',
								 'price_avg_10', 'price_avg_chg_10', 'close_10_price_avg_chg',
								 'price_avg_chg_10_avg', 'price_avg_chg_10_avg_diff', 'money_flow'
								-->
								<th data-options="field:'the_date'">交易日</th>
								<th data-options="field:'open', align:'center'">开</th>
								<th data-options="field:'high', align:'center'">高</th>
								<th data-options="field:'low', align:'center'">低</th>
								<th data-options="field:'close', align:'center', styler:cellCloseStyler">收</th>
								<th data-options="field:'close_chg', align:'center', styler:cellStyler, formatter:formatPercent"><b style="color: red; background-color: gold;">收-幅</b></th>
								<th data-options="field:'close_price_avg_chg', align:'center', styler:cellStyler, formatter:formatPercent">收/日均幅</th>
								<th data-options="field:'close_10_price_avg_chg', align:'center', styler:cellStyler, formatter:formatPercent">收/10均幅</th>
								<th data-options="field:'close_open_chg', align:'center', styler:cellCloseOpenStyler, formatter:formatPercent">收/开幅</th>

								<th data-options="field:'vol', align:'center'">量(股)</th>
								<th data-options="field:'vol_chg', align:'center', styler:cellVolStyler, formatter:formatPercent"><b style="color: red; background-color: gold;">量幅</b></th>
								<th data-options="field:'amount', align:'center'">额(元)</th>
								<th data-options="field:'money_flow', align:'center', styler:cellMoneyFlowStyler, formatter:formatPercent"><b style="color: red; background-color: gold;">钱流</b></th>

								<th data-options="field:'price_avg', align:'center', styler:cellDayAvgPriceStyler">日均</th>
								<th data-options="field:'price_avg_chg', align:'center', styler:cellDayAvgStyler, formatter:formatPercent"><b style="color: red; background-color: gold;">日均幅</b></th>

								<th data-options="field:'price_avg_3', align:'center', styler:cellDayAvgPrice3Styler">3均</th>
								<th data-options="field:'price_avg_chg_3', align:'center', styler:cellDayAvgStyler, formatter:formatPercent">均幅</th>

								<th data-options="field:'price_avg_5', align:'center', styler:cellDayAvgPrice5Styler">5均</th>
								<th data-options="field:'price_avg_chg_5', align:'center', styler:cellDayAvgStyler, formatter:formatPercent">均幅</th>

								<th data-options="field:'price_avg_10', align:'center', styler:cellDayAvgPrice10Styler">10均</th>
								<th data-options="field:'price_avg_chg_10', align:'center', styler:cellDayAvgStyler, formatter:formatPercent">均幅</th>

								<th data-options="field:'price_avg_chg_10_avg', align:'center', styler:cellPercent1Styler, formatter:formatPercent"><b style="color: red; background-color: gold;">10均幅均</b></th>
								<th data-options="field:'price_avg_chg_10_avg_diff', align:'center', formatter:formatImg">连续</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
		<div title="历史行情K线" id="history_kline">
			<div id="main" style="width: 1500px; height: 610px;"></div>
		</div>
	</div>
</body>
</html>