<!DOCTYPE html>
<html>
<head>
    <title>值得买？</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/bootstrap-datetimepicker.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/signin.css') }}">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ static_url('js/jquery.min.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ static_url('js/bootstrap.min.js') }}"></script>
    <script src="{{ static_url('js/bootstrap.min.js') }}"></script>
    <script src="{{ static_url('js/moment-with-locales.min.js') }}"></script>
    <script src="{{ static_url('js/bootstrap-datetimepicker.min.js') }}"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="{{ static_url('js/tquant_utils.js') }}"></script>
    <script type="text/javascript">
        $(function(){

            $('.date').datetimepicker({
                format: 'YYYY-MM-DD'
            });
        });

        function duang(){
            var security_code = $('#security_code').val()
            var start_date = $('#start_date').val();
            var end_date = $('#end_date').val();
            console.log(security_code);
            console.log(start_date);
            console.log(end_date);
            var url = "/average_line";
            $.ajax({
                url: url,
                type: 'post',
                data: {
                    'security_code': security_code,
                    'start_date': start_date,
                    'end_date': end_date
                },
                dataType: 'text',
                success: function(data){
                    $('#tbody').html('')
                    if(data != ''){
                        $('#tbody').append(data);
                    }
                    else{
                        $('#tbody').append('没有数据');
                    }
                }
            });
        }
    </script>

    <style type="text/css">
        .m3{
            background: #ff0000;
            color: #ffff00;
        }
        .m2{
            background: #ff3300;
            color: #ffff00;
        }
        .m1{
            background: #ff6600;
            color: #ffff00;
        }
        .m0{
            color: #ff0000;
        }

        .l0{
            color: #00ff00;
        }
        .l1{
            background: #009900;
            color: #ffff00;
        }
        .l2{
            background: #00cc00;
            color: #ffff00;
        }
        .l3{
            background: #00ff00;
            color: #ffff00;
        }
        .table{
            font-size: 3px;
        }

    </style>
</head>
    <body>
        <label class="sr-only">股票代码</label>
        <input type="text" class="" id="security_code"
               placeholder="请输入股票代码">
        <label class="sr-only">开始时间</label>
        <input type="text" readonly class="date" id="start_date"
               placeholder="请输入开始时间" value="{{ start_date }}">
        <label class="sr-only">结束时间</label>
        <input type="text" class="date" id="end_date"
               placeholder="请输入结束时间" value="{{end_date}}">
        <button class="btn btn-default" onclick="duang()">Duang</button>

        <table class="table table-bordered" id="table">
            <thead>
                <tr>
                    <th>交_易_日</th>
                    <th>收</th>
                    <th>钱</th>
                    <th>量</th>

                    <th>ma3收均</th>
                    <th>ma3收均幅</th>
                    <th>ma3收均幅均</th>

                    <th>ma3日均钱</th>
                    <th>ma3日均钱幅</th>
                    <th>ma3日均钱幅均</th>

                    <th>ma3日均量</th>
                    <th>ma3日均量幅</th>
                    <th>ma3日均量幅均</th>

                    <th>ma3价均</th>
                    <th>ma3价均幅</th>
                    <th>ma3价均幅均</th>

                    <th>ma3钱留幅</th>
                    <th>ma3钱留幅均</th>

                    <th>ma3量留幅</th>
                    <th>ma3量留幅均</th>

                    <th>ma5收均</th>
                    <th>ma5收均幅</th>
                    <th>ma5收均幅均</th>

                    <th>ma5日均钱</th>
                    <th>ma5日均钱幅</th>
                    <th>ma5日均钱幅均</th>

                    <th>ma5日均量</th>
                    <th>ma5日均量幅</th>
                    <th>ma5日均量幅均</th>

                    <th>ma5价均</th>
                    <th>ma5价均幅</th>
                    <th>ma5价均幅均</th>

                    <th>ma5钱留幅</th>
                    <th>ma5钱留幅均</th>

                    <th>ma5量留幅</th>
                    <th>ma5量留幅均</th>

                    <th>ma10收均</th>
                    <th>ma10收均幅</th>
                    <th>ma10收均幅均</th>

                    <th>ma10日均钱</th>
                    <th>ma10日均钱幅</th>
                    <th>ma10日均钱幅均</th>

                    <th>ma10日均量</th>
                    <th>ma10日均量幅</th>
                    <th>ma10日均量幅均</th>

                    <th>ma10价均</th>
                    <th>ma10价均幅</th>
                    <th>ma10价均幅均</th>

                    <th>ma10钱留幅</th>
                    <th>ma10钱留幅均</th>

                    <th>ma10量留幅</th>
                    <th>ma10量留幅均</th>

                </tr>
            </thead>
            <tbody id="tbody"></tbody>
        </table>
    </body>

</html>